<%- contentFor('option1') %>
<section id="option-1-content">
	<div id="option-1-1-content">
		<div class="header-contents">
			<p class="header">Format</p>
			<p class="description">Set a date format.</p>
		</div>
		<div class="input-contents">
			<div class="input-content">
				<input type="text" id="input-custom-format" class="form-control" placeholder="yyyy-mm-dd" />
			</div>
		</div>
	</div>
</section>

<%- contentFor('sidebar1') %>
<p class="header">Random Date</p>
<p class="description">Generate a date between the two dates that you chose.</p>

<%- contentFor('sidebar2') %>
<p class="header">Range</p>
<p class="description">Enter start date and end date.</p>
<div class="input-contents">
	<div class="input-content min-max-content">
		<label id="start-label">Start</label>
		<input type="number" class="form-control" id="input-start-year" />
		<input type="number" class="form-control" id="input-start-month" />
		<input type="number" class="form-control" id="input-start-day" />
	</div>
	<div class="input-content min-max-content">
		<label id="end-label">End</label>
		<input type="number" class="form-control" id="input-end-year" />
		<input type="number" class="form-control" id="input-end-month" />
		<input type="number" class="form-control" id="input-end-day" />
	</div>
</div>

<%- contentFor('option2') %> <%- contentFor('option3') %><%- contentFor('result') %>
