<%- contentFor('option1') %>
<section id="option-1-content">
	<div id="option-1-1-content">
		<div class="header-contents">
			<p class="header">Type</p>
			<p class="description">Choose the type of the result to generate.</p>
		</div>

		<div class="input-contents">
			<div class="input-content">
				<input type="radio" class="btn-check" id="button-integer" name="type" value="integer" checked />
				<label for="button-integer" class="btn btn-outline-primary btn-md">Integer</label>
			</div>
			<div class="input-content">
				<input type="radio" class="btn-check" id="button-decimal" name="type" value="decimal" />
				<label for="button-decimal" class="btn btn-outline-primary btn-md">Decimal</label>
			</div>
		</div>
	</div>
	<div id="option-1-2-content">
		<div id="parity-content">
			<div class="header-contents">
				<p class="header">Parity</p>
				<p class="description">Set whether the result is going to be an odd or even number.</p>
			</div>
			<div class="input-contents">
				<div class="input-content">
					<input type="radio" class="btn-check" id="button-none" name="parity" value="none" checked />
					<label for="button-none" class="btn btn-outline-primary btn-sm"><i class="fas fa-times"></i></label>
				</div>
				<div class="input-content">
					<input type="radio" class="btn-check" id="button-odd" name="parity" value="odd" />
					<label for="button-odd" class="btn btn-outline-primary btn-sm">Odd</label>
				</div>
				<div class="input-content">
					<input type="radio" class="btn-check" id="button-even" name="parity" value="even" />
					<label for="button-even" class="btn btn-outline-primary btn-sm">Even</label>
				</div>
			</div>
		</div>
		<div id="precision-content">
			<div class="header-contents">
				<p class="header">Precision</p>
				<p class="description">Set the number of digits following the decimal point.</p>
			</div>
			<div class="input-contents">
				<div class="input-content">
					<input type="number" id="input-precision" class="form-control" value="4" />
				</div>
			</div>
		</div>
	</div>
</section>

<%- contentFor('sidebar1') %>
<p class="header">Random Number</p>
<p class="description">Generate a random number between the two numbers that you chose.</p>

<%- contentFor('sidebar2') %>
<p class="header">Range</p>
<p class="description">Set a lower and upper limit of the result.</p>
<div class="input-contents">
	<div class="input-content min-max-content">
		<label for="input-min">Min</label>
		<input type="number" class="form-control" id="input-min" value="0" />
	</div>
	<div class="input-content min-max-content">
		<label for="input-max">Max</label>
		<input type="number" class="form-control" id="input-max" value="20" />
	</div>
</div>

<%- contentFor('option2') %> <%- contentFor('option3') %><%- contentFor('result') %>
