<%- contentFor('sidebar1') %>
<p class="header">Random Palette</p>
<p class="description">Generate beautiful color combinations.</p>

<%- contentFor('result') %>
<div id="color-1"></div>
<div id="color-2"></div>
<div id="color-3"></div>
<div id="color-4"></div>
<div id="color-5"></div>

<%- contentFor('option1') %> <%- contentFor('option2') %><%- contentFor('sidebar2') %> <%- contentFor('option3') %>
