<%- contentFor('option1') %>
<section id="option-1-content">
	<div id="option-1-1-content">
		<div class="header-contents">
			<p class="header">Length Type</p>
			<p class="description">Choose whether text length will be a fixed or random value.</p>
		</div>
		<div class="input-contents">
			<div class="input-content">
				<input type="radio" class="btn-check" id="button-random" name="length-type" value="decimal" checked />
				<label for="button-random" class="btn btn-outline-primary btn-md">Random</label>
			</div>
			<div class="input-content">
				<input type="radio" class="btn-check" id="button-fixed" name="length-type" value="integer" />
				<label for="button-fixed" class="btn btn-outline-primary btn-md">Fixed</label>
			</div>
		</div>
	</div>
	<div id="option-1-2-content">
		<div id="fixed-content">
			<div class="header-contents">
				<p class="header">Length</p>
				<p class="description">Set length of the text that will be generated.</p>
			</div>
			<div class="input-contents">
				<div class="input-content">
					<input type="number" id="input-length" class="form-control" />
				</div>
				<div class="input-content">
					<span id="output-unit">words</span>
				</div>
			</div>
		</div>
	</div>
</section>

<%- contentFor('option2') %>
<section id="option-2-content">
	<div id="option-2-1-content">
		<div class="header-contents">
			<p class="header">Type</p>
			<p class="description">Choose what type of text will be generated.</p>
		</div>
		<div class="input-contents">
			<div class="input-content">
				<input type="radio" class="btn-check" id="button-letter" name="type" value="letter" />
				<label for="button-letter" class="btn btn-outline-primary btn-lg">Letter</label>
			</div>
			<div class="input-content">
				<input type="radio" class="btn-check" id="button-syllable" name="type" value="syllable" />
				<label for="button-syllable" class="btn btn-outline-primary btn-lg">Syllable</label>
			</div>
			<div class="input-content">
				<input type="radio" class="btn-check" id="button-word" name="type" value="word" />
				<label for="button-word" class="btn btn-outline-primary btn-lg">Word</label>
			</div>
			<div class="input-content">
				<input type="radio" class="btn-check" id="button-sentence" name="type" checked value="sentence" />
				<label for="button-sentence" class="btn btn-outline-primary btn-lg">Sentence</label>
			</div>
			<div class="input-content">
				<input type="radio" class="btn-check" id="button-paragraph" name="type" value="paragraph" />
				<label for="button-paragraph" class="btn btn-outline-primary btn-lg">Paragraph</label>
			</div>
		</div>
	</div>
</section>

<%- contentFor('sidebar1') %>
<p class="header">Random Text</p>
<p class="description">Get a random letter, syllable, word, sentence or paragraph.</p>

<%- contentFor('option3') %> <%- contentFor('sidebar2') %><%- contentFor('result') %>

<!-- <nav id="navbar">
	<a href="/" class="logo">pengrape</a>
	<span id="title">Random Text</span>
	<a class="logo fake">pengrape</a>
</nav>

<section id="results-section">
	<div id="results-div">
		<div id="results-buttons">
			<button class="btn btn-secondary btn-sm fake"><i class="far fa-copy"></i></button>
			<input type="button" id="button" class="btn btn-primary" value="Generate" />
			<button id="copy-button" class="btn btn-secondary btn-sm"><i class="far fa-copy"></i></button>
		</div>
		<div id="results-output">
			<span id="output"></span>
		</div>
	</div>
</section>

<section id="options-section">
	<div id="option-1">
		<div id="option-1-div">
			<div class="row" id="row1">
				<label for="length-input" class="form-label">Length</label>
			</div>
			<div class="row" id="row2">
				<input type="number" id="length-input" class="form-control" />
				<span id="unit-output">words</span>
			</div>
		</div>
	</div>
	<div id="option-2">
		<div id="option-2-div">
			<div class="row" id="row3">
				<label class="form-label">Type</label>
			</div>
			<div class="row" id="row4">
				<input type="radio" class="btn-check" id="letter" name="type" />
				<label for="letter" class="btn btn-outline-primary btn-lg">Letter</label>
			</div>
			<div class="row" id="row5">
				<input type="radio" class="btn-check" id="syllable" name="type" />
				<label for="syllable" class="btn btn-outline-primary btn-lg">Syllable</label>
			</div>
			<div class="row" id="row6">
				<input type="radio" class="btn-check" id="word" name="type" />
				<label for="word" class="btn btn-outline-primary btn-lg">Word</label>
			</div>
			<div class="row" id="row7">
				<input type="radio" class="btn-check" id="sentence" name="type" checked />
				<label for="sentence" class="btn btn-outline-primary btn-lg">Sentence</label>
			</div>
			<div class="row" id="row8">
				<input type="radio" class="btn-check" id="paragraph" name="type" />
				<label for="paragraph" class="btn btn-outline-primary btn-lg">Paragraph</label>
			</div>
		</div>
	</div>
</section> -->
