<%- contentFor('option1') %>
<section id="option-1-content">
	<div id="option-1-1-content">
		<div class="header-contents">
			<p class="header">Length Type</p>
			<p class="description">Choose whether the password length will be a fixed or random value.</p>
		</div>
		<div class="input-contents">
			<div class="input-content">
				<input type="radio" class="btn-check" id="button-fixed" name="length-type" value="integer" checked />
				<label for="button-fixed" class="btn btn-outline-primary btn-md">Fixed</label>
			</div>
			<div class="input-content">
				<input type="radio" class="btn-check" id="button-random" name="length-type" value="decimal" />
				<label for="button-random" class="btn btn-outline-primary btn-md">Random</label>
			</div>
		</div>
	</div>
	<div id="option-1-2-content">
		<div id="fixed-content">
			<div class="header-contents">
				<p class="header">Length</p>
				<p class="description">Set the length of the password that will be generated.</p>
			</div>
			<div class="input-contents">
				<div class="input-content">
					<input type="number" id="input-length" value="20" class="form-control" />
				</div>
			</div>
		</div>
		<div id="random-content">
			<div class="header-contents">
				<p class="header">Length</p>
				<p class="description">Set a range for the length of the password.</p>
			</div>
			<div class="input-contents">
				<div class="input-content min-max-content">
					<label for="input-min">Min</label>
					<input type="number" class="form-control" id="input-min" value="16" />
				</div>
				<div class="input-content min-max-content">
					<label for="input-max">Max</label>
					<input type="number" class="form-control" id="input-max" value="24" />
				</div>
			</div>
		</div>
	</div>
</section>

<%- contentFor('option2') %>
<section id="option-2-content">
	<div id="option-2-1-content">
		<div class="header-contents">
			<p class="header">Include</p>
			<p class="description">Set which characters will be used to generate a password.</p>
		</div>
		<div class="input-contents">
			<div class="input-content">
				<input type="checkbox" name="include" id="button-lowercase" class="btn-check" checked />
				<label for="button-lowercase" class="btn btn-outline-primary btn-lg">Lowercase letters</label>
			</div>
			<div class="input-content">
				<input type="checkbox" name="include" id="button-uppercase" class="btn-check" checked />
				<label for="button-uppercase" class="btn btn-outline-primary btn-lg">Uppercase letters</label>
			</div>
			<div class="input-content">
				<input type="checkbox" name="include" id="button-numbers" class="btn-check" checked />
				<label for="button-numbers" class="btn btn-outline-primary btn-lg">Number</label>
			</div>
			<div class="input-content">
				<input type="checkbox" name="include" id="button-symbols" class="btn-check" />
				<label for="button-symbols" class="btn btn-outline-primary btn-lg">Symbols</label>
			</div>
		</div>
	</div>
	<div id="option-2-2-content">
		<div id="symbol-pool-content">
			<div class="header-contents">
				<p class="header">Symbol Pool</p>
				<p class="description">Set which symbols will be used for password.</p>
			</div>
			<div class="input-contents">
				<div class="input-content">
					<input type="text" id="input-symbol-pool" value="~!@#$%&*-+=?/" class="form-control" />
				</div>
			</div>
		</div>
	</div>
</section>

<%- contentFor('option3') %>
<section id="option-3-content">
	<div id="option-3-1-content">
		<div class="header-contents">
			<p class="header">Exclude Similars</p>
			<p class="description">Exclude similar characters that will be used for the password.</p>
		</div>
		<div class="input-contents">
			<div class="input-content">
				<input type="checkbox" id="button-exclude-similar" class="btn-check" />
				<label class="btn btn-outline-primary btn-lg" for="button-exclude-similar">Exlude Similars</label>
			</div>
		</div>
	</div>
</section>

<%- contentFor('sidebar1') %>
<p class="header">Random Password</p>
<p class="description">Generate secure passwords based on guidelines that you set.</p>

<%- contentFor('sidebar2') %><%- contentFor('result') %>
