<%- contentFor('sidebar1') %>
<p class="header">Spinner</p>
<p class="description">Enter names and spin the wheel to pick a random winner.</p>

<%- contentFor('sidebar2') %>
<p class="header">Entries</p>
<p class="description">Enter names to randomly choose one of them.</p>
<div class="input-contents">
	<div class="input-content">
		<input type="text" class="form-control" id="input-entry" />
	</div>
	<div class="input-content">
		<button id="button-add" class="btn btn-light btn-xs"><i class="fas fa-plus"></i></button>
	</div>
</div>
<div class="input-contents">
	<div id="chart-legends"></div>
</div>

<%- contentFor('result') %>
<div id="output-content"></div>
<div id="chart-content">
	<canvas id="chart"></canvas>
</div>

<%- contentFor('option1') %> <%- contentFor('option2') %> <%- contentFor('option3') %>
